.container {
  width: 100%;
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgb(240, 235, 235);
  border: 1px dashed grey;
}
.inner {
  border: 1px dashed grey;
  padding: 15px;
  margin: 1px -15px;
  width: 100%;
  border-right: transparent;
  border-left: transparent;
}
